<h1>Listing shouts</h1>

<table>
  <tr>
    <th>Message</th>
  </tr>

<% @shouts.each do |shout| %>
  <tr>
    <td><%=h shout.message %></td>
    <td><%= link_to 'Show', shout %></td>
    <td><%= link_to 'Edit', edit_shout_path(shout) %></td>
    <td><%= link_to 'Destroy', shout, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New shout', new_shout_path %>